########## Typical C ignores ##########
# Prerequisites
*.d

# System files
.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# IDE Files / Folders
*.sublime-workspace
.vscode

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.x86
*.x64

# vi backup files
.*.swp

########## batari Basic specific ignores ##########
2600basic
bbfilter
optimize
postprocess
preprocess
packages
packages/*
